@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(160, 160, 190);
  font-family: 'League Gothic', sans-serif;
}

nav{
  background-color: rgb(150, 160,190);
  border-radius: 7rem;
  margin-top: -1rem;
}
nav > h3{
  font-family: 'EXO';
  margin-left: 2rem;
  font-size: 2rem;
}
.home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(180, 190, 220) 60%,
    rgba(215, 210, 205, 0.5)
  );
  min-height: calc(100vh - 60px);
  margin: 20px;
  padding: 1px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.home div > h2 {
  display: flex;
  justify-content: center;
  color: black;
}

.home  {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

@media (max-width: 350px) {
  .home_container {
    justify-content: unset;
  }
}

.cellList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .cellList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .cellList {
    grid-template-columns: 1fr;
  }
}

.cellCardItem,
.cellListItem {
  font-family: 'League Gothic', sans-serif;
  background: rgba(0,200, 255, 0.1);
  border-radius: 10px;
  padding: 1em;
  width: 20rem;
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

.cellCardItem {
  margin: 20px 0;
  height: 150px;
  width: 100%;
}
@media (max-width: 400px) {
  .cellCardItem,
  .cellListItem {
    width: 210px;
    height: 180px;
  }
}

.cellCardItem > div,
.cellListItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cellCardItem_name,
.cellListItem_name {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
}

.cellCardItem_description,
.cellListItem_description {
  font-size: 1.3em;
}

.cellCardItem_price,
.cellListItem_price {
  color: darkviolet;
  font-size: 1.7rem;
}

.cellListItem_photo {
  height: 10rem;
  margin-right: -5em;
}

.chosed_cell-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#idCell {
  padding: 0.8rem;
  width: 20rem;
  border: none;
  border-radius: 0.8rem;
}

.default-button {
  background-color: transparent;
  border: 1px solid #3c5aa6;
  padding: 0.5em;
  color: #3c5aa6;
  font-weight: 600;
  border-radius: 0.6rem;
  width: 21rem;
  margin-top: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}
.default-button:hover {
  background-color: #3c5aa6;
  color: rgb(220, 220, 220)
}

#chosed_cell-space-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: right;
  margin: 20px 0 35px 0;
}

.bag {
  position: relative;
}

.bag_icon {
  cursor: pointer;
}

.bag_badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }
}

.modal-overlay {
  background-color: #11111150;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.card-modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card-modal h2 {
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(180, 190, 220) 60%,
    rgba(215, 210, 205, 0.5)
  );
  padding: 1rem;
}

.close-modal {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.7rem;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.close-modal:hover {
  transform: scale(1);
}

.modal-body {
  padding: 0.5rem 1rem;
}
.modal-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body div input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 2px #ccc;
  margin-bottom: 0.2rem;
  border-radius: 0.5rem;
}

.modal-body div button {
  padding: 0.6rem;
  width: 30%;
  font-size: 1rem;
  background-color: transparent;
  color: rgba(60,90,166, 0.5);
  border: solid 1px rgba(60, 90, 166, 0.5);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 450;
  transition: all 0.3s ease-in-out;
}

.modal-body button:hover {
  background-color: rgba(60, 90, 166,0.8);
  color: rgb(220, 220, 220)
}

.create-button-modal {
  display: flex;
  justify-content: flex-end;
}

.Actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn {
  margin-right: 1rem;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.Actions_edit {
  color: #003cff;
  border: solid 1px #003cff;
  background-color: transparent;
}

.Actions_edit:hover {
  color: white;
  background-color: #003cff;
}

.Actions_delete {
  color: #ff0000;
  border: solid 1px #ff0000;
  background-color: transparent;
}

.Actions_delete:hover {
  color: white;
  background-color: #ff0000;
}

.modal-body-delete {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  width: 95.5%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 2px #ccc;
  margin-bottom: 0.2rem;
  border-radius: 0.5rem;
}

.modal-body-delete p {
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.btns_delete {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}

.btn_delete{
  background-color: transparent;
  padding: .5rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn_delete_no{
  color: #ff0000;
  border: 1px solid  #ff0000;
}

.btn_delete_no:hover{
  background-color: #ff0000;
  color: white;
}

.btn_delete_yes{
  color: #00b309;
  border: 1px solid  #00b309;
}


.btn_delete_yes:hover{
  background-color: #00b309;
  color: white;
}